---
# This workflow is for the guestfs_generator utility
name: Generate guestfs index

on:
  issue_comment:
    types: [created]

jobs:
  always_run:
    runs-on: ubuntu-latest
    defaults:
      shell: bash
    steps:
      - name: Always run
        # NOTE:BUG https://github.community/t/workflow-is-failing-if-no-job-can-be-ran-due-to-condition/16873/2
        run: |
          echo "This job is included because GitHub Actions marks the workflow as having "\
               "'failed at startup' if no jobs are run, and the other job in this workflow "\
               "is likely to be skipped"


  generate_guestfs:
    name: Generate guestfs index
    if: "(github.event.id == 4 && github.event.body == 'Please update the guestfs index.')"
    env:
      AUTOMERGE_LABEL: "guestfs_index-automerge"
    runs-on: ubuntu-latest
    defaults:
      shell: bash

    steps:
      - name: "Mark issue #4 as open"
        run: |
          curl \
              --request PATCH \
              --header "Accept: application/vnd.github.v3+json" \
              --header "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
              --url "https://api.github.com/repos/${{ github.repository }}/issues/4"
              --data '{"state":"open"}'

      - name: Checkout the gh-pages branch
        uses: actions/checkout@v2
        with:
          ref: "gh-pages"
          path: "${{ github.workspace }}/gh-pages"
          depth: 1

      - name: Install Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Install tools
        env:
          PIPX_BIN_DIR: "${{ env.HOME }}/.local/bin"
        run: |
          python -m pip install --user --upgrade pip setuptools wheel
          python -m pip install --user --upgrade pipx
          python -m pipx install "git+https://github.com/mawillcockson/utilities.git#egg=guestfs-generator&subdirectory=guestfs_generator"
          echo "${PIPX_BIN_DIR}" >> "${GITHUB_ENV}"

      - name: Run guestfs-generator
        run: |
          set -e
          test -d "${{ github.workspace }}/gh-pages"
          guestfs-generator "${{ github.workspace }}/gh-pages/guestfs_index/"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3.7.0
        with:
          path: "${{ github.workspace }}/gh-pages"
          commit-message: "feat(gh-pages/guestfs_index): update by GitHub Actions"
          # From: https://github.community/t/github-actions-bot-email-address/17204/5
          author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
          branch: update_guestfs_index
          delete-branch: true
          title: "Update guestfs_index in gh-pages"
          body: "This is an auto-generated pull-request by [the \"Generate guestfs index\" workflow in this repository](https://github.com/mawillcockson/utilities/blob/main/.github/workflows/guestfs_index.yaml). If it is not automatically merged, please [open a new issue](https://github.com/mawillcockson/utilities/issues/new?title=Automatic+guestfs+index+generation+failed)."
          labels: "${{ env.AUTOMERGE_LABEL }}"
          draft: false

      - name: Merge Pull Request(s)
        uses: pascalgn/automerge-action@v0.13.0
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_LABELS: "${{ env.AUTOMERGE_LABEL }}"
          MERGE_REMOVE_LABELS: "" # Leave label to make searching easier
          MERGE_METHOD: merge
          MERGE_DELETE_BRANCH: true

      - name: "Mark issue #4 as closed"
        run: |
          curl \
              --request PATCH \
              --header "Accept: application/vnd.github.v3+json" \
              --header "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
              --url "https://api.github.com/repos/${{ github.repository }}/issues/4"
              --data '{"state":"closed"}'
...
